.home {
  padding: 0 8rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

@media (max-width: 700px) {
  .home {
    padding: 0 2rem;
  }
}

.container{
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}

#info > h1 {
  font-size: 5.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #258343 0%, #499b5c 50%, #96dd9a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.home > a {
  font-size: 1.2rem;
}

.home > a:hover{
  text-decoration: underline;
  font-size: 1.23rem;
  color: var(--highlight);
}

.container > img{
  width: 30%;
  height: 30rem;
  border-radius: 20rem;
  object-fit: cover;
}

  